.candidatos-profile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 40px;
  row-gap: 15px;
}
.profile-picture-container-red, .profile-picture-container-white {
  border-radius: 60px;
  border: 3px solid white;
  grid-auto-rows: min-content;
  align-items: start;
  vertical-align: top;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 58px;
  padding-right: 48px;
  color: white;
  font-size: 17.5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile-picture-container-white {
  border: 3px solid red;
  background-color: white;
  color: black;
}

.profile-picture-container-red {
  border: 3px solid white;
  background-color: red;
}

.profile-picture {
  height: 150px;
  display: block;
  margin: 0 auto;
}

.candidato-name {
  text-align: center;
  font-size: 27px;
  display: block;
  margin-bottom: 20px;
  font-family: Fascinate Inline;
}

.vote-for-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.votar-button-red, .votar-button-white, .si-votar-button {
  font-size: 20px;
  border-radius: 60px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-family:Lacquer;
}

.votar-button-white, .si-votar-button {
  background-color: white;
  border: 3px solid red;
  color: black;
}

.si-votar-button {
  margin-bottom: 0px;
  font-family: Cabin Sketch;
}

.votar-button-red {
  background-color: red;
  border: 3px solid white;
  color: white;
}

.js-pop-up-vote-1 {
  background-color: white;
  margin-left: 5px;
  border-radius: 60px;
  padding: 20px 5px 20px 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.js-pop-up-vote-1.visible {
  opacity: 1;
  visibility: visible;
}

.js-pop-up-vote-2 {
  background-color: white;
  margin-left: 5px;
  border-radius: 60px;
  padding: 20px 5px 20px 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.js-pop-up-vote-2.visible {
  opacity: 1;
  visibility: visible;
}

.js-pop-up-vote-3 {
  background-color: white;
  margin-left: 5px;
  border-radius: 60px;
  padding: 20px 5px 20px 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.js-pop-up-vote-3.visible {
  opacity: 1;
  visibility: visible;
}

.js-pop-up-vote-4 {
  background-color: white;
  margin-left: 5px;
  border-radius: 60px;
  padding: 20px 5px 20px 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.js-pop-up-vote-4.visible {
  opacity: 1;
  visibility: visible;
}

.content-pop-up {
  font-size: 18px;
  margin-bottom: 20px;
  font-family:Lacquer;
  margin: 5px 5px;
  text-align: center;
}
