.voto-registrado{
  background-color: white;
  border: 3px solid red;
  border-radius: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 38px;
  padding-right: 38px;
  margin: 10px;
  margin-top: 40px;
  text-align: center
}

.volver-button {
  background-color: red;
  color: white;
  border-radius: 60px;
  border: 3px solid white;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 25px;
  font-family: Cabin Sketch;
}

.gracias-por-el-voto {
  font-size: 25px;
  margin-bottom: 20px;
  font-family:Lacquer;
}

